<!-- non posso utilizzare 2 direttive strutturali nello stesso elemento html, utilizzo quindi un ng-container -->
<!-- se l'observable errors$ emetterà un valore sarà renderizzato il tutto -->
<!-- <ng-container *ngIf="messagesService.errors$ | async as errors"> -->
<!-- per gestire meglio il tutto non andremo a sottoscrivere l'observable di errori del service, ma uno che implementeremo nel MessagesComponent -->
<ng-container *ngIf="errors$ | async as errors">
  <!-- il template è costituito da un container di una lista di messaggi -->
  <!-- secondo il valore della proprietà showMessages mostriamo o no il componente -->
  <div class="messages-container" *ngIf="showMessages">
    <!-- cclo una proprietà errors che conterrà una serie di stringhe di errori -->
    <!-- la proprietà errors che cicliamo è quella ricavata con l'as nell'ngIf dell'ng-container -->
    <div class="message" *ngFor="let error of errors">
      {{ error }}
    </div>

    <!-- abbiamo un close button, al click chiama la onClose() function -->
    <mat-icon class="close" (click)="onClose()">close</mat-icon>
  </div>
</ng-container>
